name: Container Scan

on:
  workflow_call:
    inputs:
      image_name:
        type: string
        required: true

jobs:
  container-scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t ${{ inputs.image_name }} .

      - name: Trivy Container Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ inputs.image_name }}
          severity: CRITICAL,HIGH
          exit-code: "1"
